#_component-header {
    background-color: $secondary;
    padding: 0 ($standard/2);
    @include wider-than(medium) {
        padding: 0 50px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;

    ._component-header--logo img{
        width: 82px;
        object-fit: cover;
    }

        

    ._component-header--toggler{
        background: transparent;
        border: none;
        outline: transparent;
        font-size: 16px;
        color: $primary;
        padding: $standard 0;
        
        span{
            padding-right: $standard/2;
        }

        &.rotate i{
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            margin-bottom: -3px;
        }
    }
    
    #_component-header--menu{
        display: none;

        &.show{
            display: block;
        }

        ul{
            padding: 0;
            margin: 0;

            li{
                list-style: none;
            }
        }
    }

    @include break--1080 {
        #_component-header--menu{
            display: block;
        }

        ._component-header--toggler{
            display: none;
        }

        ._component-header--menu ul{
            display: flex;

            > li{
                transition: 1s;
                display: inline-block;
                position: relative;
            
                a{
                    color: $primary;
                    font-size: 13px;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: ($standard - 5) ($standard + 15);
                    display: block;
                    white-space: nowrap;
                }

                > ul{
                    position: absolute;
                    display: none;
                    top: 100%;
                    z-index: 2;

                    li{
                        position: relative;
                        border-bottom: solid 1px $grey;

                        a{
                            color: $white;
                            padding: ($standard - 5) ($standard);
                            background-color: $primary;
                            display: flex;
    
                            &:after {
                                content: '';
                                border: solid $white;
                                border-width: 0 2px 2px 0;
                                display: inline-block;
                                padding: 5px;
                                margin-bottom: 1px;
                                // float: right;
                                transform: rotate(-45deg);
                                -webkit-transform: rotate(-45deg);
                                margin-left: $standard;
                            }
                        }
                    } 

                    > li > ul{
                        top: 0;
                        left: 100%;
                    }
                }

                &:hover {
                    > a{
                        color: $white;
                        padding: ($standard - 5) ($standard + 15);
                        background-color: $primary;
                    }

                    > a > ul > li > a{
                        padding: ($standard - 5) ($standard);
                        background-color: $primary;
                    }

                    > ul {
                        display: block;

                        > li > ul{
                            display: none;
                        }

                        > li:hover{
                            position: relative;

                            > a{
                                color: $white;
                                padding: ($standard - 5) ($standard);
                                background-color: $tertiary;
                            }

                            > ul{
                                display: block;

                                > li a{
                                    background-color: $secondary;
                                    color: $primary;

                                    &:after {
                                        border-color: $primary;
                                        // border-width: 0 2px 2px 0;
                                    }

                                    &:hover{
                                        background-color: $primary;
                                        color: $white;
                                    }
                                }
                                
                            }
                        }
                        
                    }
                }
            }
        }
    }

    @include break-to--1080{
        #_component-header--menu.show{
            background-color: $white;
            position: absolute;
            left: 0;
            top: 74px;
            z-index: 2;
            height: 100%;
            width: 100%;
            text-align: left;

            ul > li{
                background-color: $primary;
                padding: ($standard) ($standard/2);
                border-bottom: solid 1px $grey;
                display: block;
                justify-content: space-between;
                align-items: center;
                position: relative;

                i{
                    border-color: $white;
                    padding: 5px;
                    float: right;

                    &.open-icon{
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }
                }
                
                a{
                    padding: 0;
                    text-transform: uppercase;
                    color: $white;
                    font-size: 13px;
                    text-decoration: none;
                }

                > ul{
                    display: none;

                    &.show{  
                        display: block;
                        position: relative;
                        top: 100%;
                        left: 0;
                        z-index: 2;
                        width: calc(100% + 30px);
                        margin-left: -($standard/2);
                        margin-bottom: -$standard;
                        margin-top: $standard;
                    }

                    > li {
                        background-color: $tertiary;

                        > ul > li {
                            background-color: $secondary;
                            a{
                                color: $primary;
                            }
                            i{
                                border-color: $primary;
                            }
                        }
                    }
                }
            }
        }

        ._icon--arrow-down {
            padding: 5px;
            border: solid $primary;
            border-width: 0 2px 2px 0;
            list-style: none;
        }

    }
}
