#_content-image-sidecar {
    background-color: #f5f9fc;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

    ._content-image-sidecar--content-container{
        a{
            color: #304659;
            text-decoration: none;
            display: block;
            font-size: 17px;
            margin-top: 42px;
            font-weight: 600;

            &::after{
                content: '';
                border: solid #304659;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                margin-bottom: 1px;
                margin-left: 5px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }

            @include break-to--768 {
                margin-top: 32px;
            }
        }
        h1,h2,h3{
            padding-bottom: $standard;
        }

        p{
            font-size: 17px;
            margin-bottom: 0;
        }

        @include wider-than(medium) {
            width : 90%;
    
            h1,h2,h3{
                font-size: 55px;
                font-weight: 700;
            }
        }

        @include break-to--768 {
            h1,h2,h3{
                font-size: 35px;
                padding-bottom: 18px;
            }
        }
    }

	#_content-image-sidecar--content,
	#_content-image-sidecar--image {
		width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;

		@include wider-than(small) {
			width: 50%;
		}
	}

    #_content-image-sidecar--content{
        padding: ($standard/2);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @include wider-than(medium) {
            padding: $standard ($standard/2);
            padding-left: 150px;
        }

        @include wider-than(small) {
            padding-right: ($standard/2);
            order: 1;
        }
    }

	#_content-image-sidecar--image {
        padding: ($standard/2);
        
        @include wider-than(medium) {
            padding: $standard ($standard/2);
            padding-right: 150px;
        }
        @include wider-than(small) {
            order: 2;
        }
		img {
            width: 100%;
            margin-bottom: 0;
            @include wider-than(small) {
                padding-left: ($standard/2);
                transform: scale(1.1);
            }

            @include break-to--480 {
                width: 70%;
            }
		}
	}
}
