*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Import theme configuration.
@import '_config/colors';
@import '_config/spacing';
@import '_config/typography';

// Import theme utils.
@import 'utils/breakpoints';
@import 'utils/icons';
@import 'utils/functions';

// Import all component styles
@import '../../components/header/header';
@import '../../components/header-with-button/header-with-button';
@import '../../components/testimonials/testimonials';
@import '../../components/content/image-sidecar';
@import '../../components/footer/footer';

// Import theme template pages.
