@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
body {
  margin: 0;
}

body {
  color: #0089ff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  margin-bottom: 20px;
}

i[class*="_icon--arrow"] {
  border: solid #304659;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

i._icon--arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-bottom: 0px;
}

i._icon--arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

i._icon--arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 3px;
}

i._icon--arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#_component-header {
  background-color: #f5f9fc;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#_component-header ._component-header--logo img {
  width: 82px;
  -o-object-fit: cover;
     object-fit: cover;
}

#_component-header ._component-header--toggler {
  background: transparent;
  border: none;
  outline: transparent;
  font-size: 16px;
  color: #0089ff;
  padding: 30px 0;
}

#_component-header ._component-header--toggler span {
  padding-right: 15px;
}

#_component-header #_component-header--menu {
  display: none;
}

#_component-header #_component-header--menu.show {
  display: block;
}

#_component-header #_component-header--menu ul {
  padding: 0;
  margin: 0;
}

#_component-header #_component-header--menu ul li {
  list-style: none;
}

@media only screen and (min-width: 67.5rem) {
  #_component-header #_component-header--menu {
    display: block;
  }
  #_component-header ._component-header--toggler {
    display: none;
  }
  #_component-header ._component-header--menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #_component-header ._component-header--menu ul > li {
    -webkit-transition: 1s;
    transition: 1s;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #_component-header ._component-header--menu ul > li a {
    color: #0089ff;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 45px;
    display: block;
    white-space: nowrap;
  }
  #_component-header ._component-header--menu ul > li > ul {
    position: absolute;
    display: none;
    top: 100%;
    z-index: 2;
  }
  #_component-header ._component-header--menu ul > li > ul li {
    position: relative;
    border-bottom: solid 1px #6a7b8a;
  }
  #_component-header ._component-header--menu ul > li > ul li a {
    color: #ffffff;
    padding: 25px 30px;
    background-color: #0089ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #_component-header ._component-header--menu ul > li > ul li a:after {
    content: '';
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    margin-bottom: 1px;
    float: right;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 30px;
  }
  #_component-header ._component-header--menu ul > li > ul > li > ul {
    top: 0;
    left: 100%;
  }
  #_component-header ._component-header--menu ul > li:hover > a {
    color: #ffffff;
    padding: 25px 45px;
    background-color: #0089ff;
  }
  #_component-header ._component-header--menu ul > li:hover > a > ul > li > a {
    padding: 25px 30px;
    background-color: #0089ff;
  }
  #_component-header ._component-header--menu ul > li:hover > ul {
    display: block;
  }
  #_component-header ._component-header--menu ul > li:hover > ul > li > ul {
    display: none;
  }
  #_component-header ._component-header--menu ul > li:hover > ul > li:hover {
    position: relative;
  }
  #_component-header ._component-header--menu ul > li:hover > ul > li:hover > a {
    color: #ffffff;
    padding: 25px 30px;
    background-color: #142433;
  }
  #_component-header ._component-header--menu ul > li:hover > ul > li:hover > ul {
    display: block;
  }
  #_component-header ._component-header--menu ul > li:hover > ul > li:hover > ul > li a {
    background-color: #f5f9fc;
    color: #0089ff;
  }
  #_component-header ._component-header--menu ul > li:hover > ul > li:hover > ul > li a:hover {
    background-color: #0089ff;
    color: #ffffff;
  }
}

@media only screen and (max-width: 67.4375rem) {
  #_component-header #_component-header--menu.show {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 74px;
    z-index: 2;
    height: 100%;
    width: 100%;
    text-align: left;
  }
  #_component-header #_component-header--menu.show ul > li {
    background-color: #0089ff;
    padding: 30px 15px;
    border-bottom: solid 1px #6a7b8a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #_component-header #_component-header--menu.show ul > li a {
    padding: 0;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
  }
  #_component-header #_component-header--menu.show ul > li a:after {
    content: '';
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    margin-bottom: 1px;
    float: right;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  #_component-header #_component-header--menu.show ul > li > ul {
    display: none;
  }
  #_component-header #_component-header--menu.show ul > li:target > ul {
    display: block;
  }
  #_component-header ._icon--arrow-down {
    padding: 5px;
    border: solid #0089ff;
    border-width: 0 2px 2px 0;
    list-style: none;
  }
}

#_component-cover {
  background-color: #f5f9fc;
}

#_component-cover #_component-cover--strip {
  background-color: #ebf2f7;
  height: 300px;
}

#_component-cover #_component-cover--container {
  padding: 0 15px;
  margin: -225px 0 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#_component-cover #_component-cover--container ._component-cover--card-container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 512px) {
  #_component-cover #_component-cover--container ._component-cover--card-container {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  #_component-cover #_component-cover--container ._component-cover--card-container {
    width: 33.3%;
  }
}

@media screen and (min-width: 1366px) {
  #_component-cover #_component-cover--container ._component-cover--card-container {
    width: 25%;
  }
}

#_component-cover #_component-cover--container ._component-cover--card-container ._component-cover--card {
  padding: 30px;
  background-color: #ffffff;
  margin-bottom: 30px;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

#_component-cover #_component-cover--container ._component-cover--card-container ._component-cover--card img {
  margin-bottom: 30px;
}

#_component-cover #_component-cover--container ._component-cover--card-container ._component-cover--card a {
  color: #304659;
  text-decoration: none;
}

#_component-services {
  background-color: #f5f9fc;
  padding: 60px 30px 45px;
  text-align: center;
}

#_component-services > p {
  margin: 0 auto 60px;
  max-width: 512px;
}

#_component-services #_component-services--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

#_component-services #_component-services--container ._component-services--card-container {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}

@media screen and (min-width: 512px) {
  #_component-services #_component-services--container ._component-services--card-container {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  #_component-services #_component-services--container ._component-services--card-container {
    width: 33.3%;
  }
}

#_component-services #_component-services--container ._component-services--card-container ._component-services--card {
  background: #ffffff;
  border: 1px solid #d3dce5;
}

#_component-services #_component-services--container ._component-services--card-container ._component-services--card img {
  width: 100%;
}

#_component-services #_component-services--container ._component-services--card-container ._component-services--card h3 {
  padding: 30px 30px 0;
}

#_component-services #_component-services--container ._component-services--card-container ._component-services--card p {
  padding: 0 30px;
  margin: 0 auto 30px;
  max-width: 390px;
}
/*# sourceMappingURL=style.css.map */